@media (max-width:768px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .section1{
        height:100%;
    }
    .section1 .div1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section1 .div1 .data{
        width: 60%;
        text-align: center;
        padding: 0.5em;
    }
    .section2{
        height: 100%;
    }
    .section2 .div1{
        display: none;
    }
    .section2 .div2{
        width: 100%;
    }
    main .div1{
        width:100%;
    }
    main .div2{
        display: none;
    }
}